clinica_veterinaria/apps/animals/__pycache__
clinica_veterinaria/apps/animals/migrations
clinica_veterinaria/apps/core/__pycache__
clinica_veterinaria/clinica_veterinaria/__pycache__
clinica_veterinaria/.env
clinica_veterinaria/db.sqlite3



